.buttonDone {
    background-image: url(https://i.postimg.cc/x8FHCPxr/toDoR.png);
    width: 30px;
    height: 30px;
    border: none;
}

.buttonDoneCheck {
    background-image: url(https://i.postimg.cc/kgSXrYyk/checkedR.png);
    width: 30px;
    height: 30px;
    border: none; 
}

.buttonRemove {
    background-image: url(https://i.postimg.cc/Pr9rRn1W/binR.png);
    width: 30px;
    height: 30px;
    border: none;
}