.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}

.container__header {
    background-color: #fff;
    padding: 20px;
    margin: 0px;
    margin-bottom: 1px, grey; 
}

.container__header--section {
    background-color: #fff;
    padding: 20px;
    margin-top: 5px, grey;
}
