.form__fieldset {
    border: 0px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
}

.form__field {
    padding: 10px;
    margin: 10px;
    border: 1px solid #d0e4e4;
    max-width: 400px;
    width: 100%;
}

.form__button {
    padding: 10px;
    background-color: hsl(180, 100%, 25%);
    border: none;
    color: #fff;
}

.form__button:hover {
    background-color: hsl(184, 100%, 30%);
}


.form__button:active {
    background-color: hsl(180, 100%, 35%);
}

